<html>
    <head>
        <title>Test blog by Toxa</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Test blog made by Toxa</a></h1>
        </div>
        <div>
            <p>published: 30.08.2022, 13:12</p>
            <h2><a href="/">First post</a></h2>
            <p>Вероятно, ты уже заметила, что каждый открывающий тег имеет пару — закрывающий, с символом /, элементы таким образом становятся вложенными (ты не можешь закрыть тег, пока остаются открытыми теги внутри него).</p>
        </div>
        <div>
            <p>published: 30.08.2022, 13:14</p>
            <h2><a href="/">Second post</a></h2>
            <p>Ты должна следовать этим правилам закрытия тегов и вложенности элементов: если ты их нарушишь, браузер не сможет интерпретировать код и корректно отобразить страницу.</p>
        </div>
    </body>
</html>